ul {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

a,
a:visited,
a:hover {
  text-decoration: none !important;
}
